@font-face {
    font-family: 'MeinFont';
    src: url('assets/fonts/MeinFont.woff2') format('woff2'),
         url('assets/fonts/MeinFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 768px) {
    nav {
        display: none; /* Mobilmenü verstecken */
    }
}
